.title{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

#header{
    font-size: 2rem;
    color: #08fdd8;
    margin-bottom: 30px;
    display: flex;
    width: 50%;
    justify-content: center;
}

.about .content{
    position:relative;
    width:100%;
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}

.about .content .col-left{
    position:relative;
    width:45%;
    display: flex;
    flex-direction: row;
    
}

.about .content .col-right{
    position:relative;
    width:50%;
}

.about .content .col-left .img-card{
    position: relative;
    width:100%;
    min-height:450px;
}

.about .content .col-left .img-card img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 10px;
}

.about .content .col-right .content-title{
    font-size:2em;
    font-weight:800;
    margin-bottom:20px;
    color:white;
}

.about .content .col-right .paragraph-text{
    font-size: 1em;
    color: white;
}

.box{
    flex: 1;
    color: white;
    margin: 5px;
}

.box ul{
    list-style: none;
}

.skills ul li {
    border: 1px solid #08fdd8;
    margin: 5px;
    
}

.skills ul li:hover{
    background-color: #08fdd8;
    color: black;
}

.tecnologies ul li {
    border: 1px solid #FD2155;
    margin: 5px;
}

.tecnologies ul li:hover{
    background-color: #FD2155;
    color: black;
}

.tools ul li {
    border: 1px solid #ffa500;
    margin: 5px;
}

.tools ul li:hover{
    background-color: #ffa500;
    color: black;
}

.skills span,
.tecnologies span,
.tools span{
    text-transform: uppercase;
    font-weight: 700;
}

.skills span{
    color: #08fdd8;
}

.tecnologies span{
    color: #FD2155;
}

.tools span{
    color: #ffa500;
}

@media only screen and (max-width: 767px){
    #header{
        font-size: 1.5rem;
        width: 100%;
    }

    .about .content{
        flex-direction: column;
        margin-top: 50px;
    }

    .about .content .col-left{
        width:100%;
    }

    .about .content .col-right{
        width:100%;
    }
}