.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.contact .content .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

.contact .content .row .email-sent-card {
    position: absolute;
    top: 0;
    right: 0;
}

.email-sent-card .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #08fdd8;
    font-size: 1.5em;
    margin-right: 2px;
    margin-top: 2px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
  }

.contact .content .row .card{
    background: transparent;
    width: 262px;
    height: 196px;
    margin: 15px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(50 200 150 /30%); 
    border-radius: 10px;
}

.contact .content .row .message-card{
    background: transparent;
    width: 280px;
    height: 70px;
    margin: 15px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 5px 25px rgba(50 200 150 /30%); 
    border-radius: 10px;
}

.contact .content .row .message-card .message-icon{
    color: #08fdd8;
    font-size: 1.5em;
    text-align:center;
    transition: transform 0.5s ease;
}

.message-title .section-title-message{
    font-size: 1em;
    color: #08fdd8;
}

.message-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.contact .content .row .card .contact-icon{
    color: #08fdd8;
    font-size: 4em;
    text-align:center;
    transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon{
    transform: translateY(-10px);
}

.title .section-title{
    color: #08fdd8;
}

.contact .content .row .card .info{
    text-align:center;
    color: #08fdd8;
}

.contact .content .row .card .content-icon .info h3{
    color:#08fdd8;
    font-size:1.2em;
    font-weight:700;
    margin:10px;

}
.contact .content .row .card .content-icon span{
    color: #08fdd8;
    font-weight: 500;
}

.contact-form{
    background: transparent;
    max-width: 600px;
    margin-top:50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(50 200 150 /30%);
}

.contact-form h3{
    color: #08fdd8;
    font-size: 1.6em;
    font-weight: 600;
    text-align:center;
    margin-bottom: 40px;
}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}


.contact-form .input-box input,
.contact-form .input-box textarea{
    color:white;
    width: 100%;
    padding:10px;
    font-size: 1em;
    font-weight: 400;
    outline:none;
    border: 1px solid #08fdd8;
    border-radius: 5px;
    resize: none;
    background-color: transparent;
}

.contact-form .input-box .send-btn{
    color:black;
    background: #08fdd8;
    display: inline-block;
    font-size:1.1em;
    font-weight:500;
    text-transform:uppercase;
    letter-spacing: 2px;
    width:50%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 5px;
    height: 35px;
}

.contact-form .input-box .send-btn:hover{
    background:#08fdd8;
}