#section-work {
    padding: 5rem 0 5rem 1.5rem;
    position: relative;
  }
  
  #header {
    font-size: 2rem;
    color: #08fdd8;
    margin-bottom: 30px;
    display: flex;
    width: 50%;
    justify-content: center;
  }
  
  .text-zone-2 {
    display: flex;
    align-items: flex-end;
  }
  
  .text-zone-2 p {
    line-height: 1.5;
    color: white;
    display: flex;
  }
  
  .text-zone-2 div {
    width: 50%;
  }
  
  .text-zone-2 .btn-container {
    height: 72px;
    padding: 4px;
  }
  
  .fake-big-2,
  .fake-big-3 {
    font-size: 18rem;
    font-weight: 700;
    position: absolute;
    color: #2d2d2e;
    left: 10px;
    bottom: -70px;
    letter-spacing: -10px;
    z-index: -999;
  }
  
  .fake-big-2 {
    right: -60%;
  }
  
  .fake-magicwall {
    position: relative;
  }
  
  .fake-magicwall ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .fake-magicwall ul li {
    width: calc(50% - 20px);
    height: 550px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    display: list-item;
  }
  
  .fake-magicwall ul li:hover .magic-wall_item {
    transform: scale(1.14);
  }
  
  .magic-wall_item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .fake-magicwall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media only screen and (max-width: 810px) {
    .fake-magicwall ul {
      overflow: hidden;
      overflow-x: auto;
      flex-wrap: nowrap;
      width: 100%;
    }
  
    #home-magicwall {
      width: 100%;
      overflow-x: auto;
      position: relative;
    }
  
    .fake-magicwall ul li {
      width: 100%;
      flex-shrink: 0;
    }
  
    .dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 10px;
      border: none;
      transition: all 0.2s ease-in-out;
    }

    .dot:hover{
      cursor: pointer;
    }

    .dot.active,
    .dot:hover{
      scale:1.2;
      

    }

    .text-zone-2 .btn-container{
      height: 240px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  